In [1]:
import csv

In [2]:
import numpy as np

In [3]:
data = []

In [4]:
with open("SampleTemperature Sheet - Sheet1.csv", 'r') as x:
    data = list(csv.reader(x, delimiter=","))

### 1. Data representation in appropriate Numpy

In [5]:
data = np.array(data)
display(data)

array([['Temprature Sheet', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
       ['Month', 'Week', 'Monday', '', 'Tuesday', '', 'Wednesday', '',
        'Thursday', '', 'Friday', '', 'Saturday', '', 'Sunday', ''],
       ['November', '', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['', 'Week 1', '8', '21', '11', '20', '12', '30', '15', '20',
        '11', '31', '14', '20', '8', '26'],
       ['', 'Week 2', '9', '21', '9', '23', '14', '21', '-13', '23',
        '11', '23', '10', '26', '6', '27'],
       ['', 'Week 3', '9', '32', '15', '22', '13', '21', '13', '28', '6',
        '26', '15', '24', '12', '29'],
       ['', 'Week 4', '13', '26', '6', '28', '15', '20', '9', '30', '13',
        '31', '7', '32', '15', '27'],
       ['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['', 'Week 2', '11', '28', '11', '25', '12', '23', '13', '23',
        '6', '25', '14', '25', '14', '26'],
       ['', 'Week 3', '8', '30', '12', '32', '6', '30', '11', '28', '11',
        '27', '15', '26', '8', '20'],
       ['', 'Week 4', '11', '29', '11', '27', '12', '28', '10', '22',
        '11', '21', '12', '27', '10', '28'],
       ['January', 'Week 1', '3', '19', '8', '22', '7', '18', '7', '22',
        '3', '19', '6', '8', '20', '7'],
       ['', 'Week 2', '5', '18', '8', '19', '7', '18', '6', '19', '5',
        '18', '7', '6', '20', '5'],
       ['', 'Week 3', '2', '22', '7', '19', '4', '22', '2', '21', '8',
        '22', '4', '2', '21', '2'],
       ['', 'Week 4', '4', '22', '6', '18', '8', '22', '5', '18', '3',
        '22', '4', '8', '18', '7'],
       ['February', 'Week 1', '10', '18', '9', '20', '-10', '21', '11',
        '20', '12', '19', '12', '71', '22', '7'],
       ['', 'Week 2', '11', '18', '8', '21', '11', '22', '7', '19', '12',
        '19', '11', '8', '20', '8'],
       ['', 'Week 3', '12', '21', '10', '22', '7', '18', '8', '19', '9',
        '22', '7', '11', '18', '11'],
       ['', 'Week 4', '10', '22', '9', '18', '7', '19', '11', '18', '7',
        '21', '11', '7', '18', '12']], dtype='<U16')

### 2. Dimensions and shape of the array

In [6]:
data.shape #shape of array

(20, 16)

In [7]:
data.dtype.type

numpy.str_

In [8]:
data.ndim #dimension of array

2

### 3. The daily temperatures for the first week of each month

In [9]:
a = data[2:5,0:]

In [10]:
a

array([['Month', 'Week', 'Monday', '', 'Tuesday', '', 'Wednesday', '',
        'Thursday', '', 'Friday', '', 'Saturday', '', 'Sunday', ''],
       ['November', '', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['', 'Week 1', '8', '21', '11', '20', '12', '30', '15', '20',
        '11', '31', '14', '20', '8', '26']], dtype='<U16')

In [11]:
b = data[8,0:]

In [12]:
b

array(['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11', '25',
       '10', '31', '6', '24', '6', '31'], dtype='<U16')

In [13]:
c = data[12,0:]

In [14]:
d= data[16, 0:]

In [15]:
p = np.vstack((((a,b,c,d))))

In [16]:
p

array([['Month', 'Week', 'Monday', '', 'Tuesday', '', 'Wednesday', '',
        'Thursday', '', 'Friday', '', 'Saturday', '', 'Sunday', ''],
       ['November', '', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['', 'Week 1', '8', '21', '11', '20', '12', '30', '15', '20',
        '11', '31', '14', '20', '8', '26'],
       ['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['January', 'Week 1', '3', '19', '8', '22', '7', '18', '7', '22',
        '3', '19', '6', '8', '20', '7'],
       ['February', 'Week 1', '10', '18', '9', '20', '-10', '21', '11',
        '20', '12', '19', '12', '71', '22', '7']], dtype='<U16')

In [17]:
p.shape

(6, 16)

### 4. Print the temperatures for Tuesday of each month

In [18]:
Tuesday_temp = data[2: ,0:5]

In [19]:
Tuesday_temp

array([['Month', 'Week', 'Monday', '', 'Tuesday'],
       ['November', '', 'Min Temp', 'Max Temp', 'Min Temp'],
       ['', 'Week 1', '8', '21', '11'],
       ['', 'Week 2', '9', '21', '9'],
       ['', 'Week 3', '9', '32', '15'],
       ['', 'Week 4', '13', '26', '6'],
       ['December', 'Week 1', '7', '32', '11'],
       ['', 'Week 2', '11', '28', '11'],
       ['', 'Week 3', '8', '30', '12'],
       ['', 'Week 4', '11', '29', '11'],
       ['January', 'Week 1', '3', '19', '8'],
       ['', 'Week 2', '5', '18', '8'],
       ['', 'Week 3', '2', '22', '7'],
       ['', 'Week 4', '4', '22', '6'],
       ['February', 'Week 1', '10', '18', '9'],
       ['', 'Week 2', '11', '18', '8'],
       ['', 'Week 3', '12', '21', '10'],
       ['', 'Week 4', '10', '22', '9']], dtype='<U16')

In [20]:
l = np.delete(Tuesday_temp,2)

In [21]:
l

array(['Month', 'Week', '', 'Tuesday', 'November', '', 'Min Temp',
       'Max Temp', 'Min Temp', '', 'Week 1', '8', '21', '11', '',
       'Week 2', '9', '21', '9', '', 'Week 3', '9', '32', '15', '',
       'Week 4', '13', '26', '6', 'December', 'Week 1', '7', '32', '11',
       '', 'Week 2', '11', '28', '11', '', 'Week 3', '8', '30', '12', '',
       'Week 4', '11', '29', '11', 'January', 'Week 1', '3', '19', '8',
       '', 'Week 2', '5', '18', '8', '', 'Week 3', '2', '22', '7', '',
       'Week 4', '4', '22', '6', 'February', 'Week 1', '10', '18', '9',
       '', 'Week 2', '11', '18', '8', '', 'Week 3', '12', '21', '10', '',
       'Week 4', '10', '22', '9'], dtype='<U16')

In [22]:
np.delete(l,2)

array(['Month', 'Week', 'Tuesday', 'November', '', 'Min Temp', 'Max Temp',
       'Min Temp', '', 'Week 1', '8', '21', '11', '', 'Week 2', '9', '21',
       '9', '', 'Week 3', '9', '32', '15', '', 'Week 4', '13', '26', '6',
       'December', 'Week 1', '7', '32', '11', '', 'Week 2', '11', '28',
       '11', '', 'Week 3', '8', '30', '12', '', 'Week 4', '11', '29',
       '11', 'January', 'Week 1', '3', '19', '8', '', 'Week 2', '5', '18',
       '8', '', 'Week 3', '2', '22', '7', '', 'Week 4', '4', '22', '6',
       'February', 'Week 1', '10', '18', '9', '', 'Week 2', '11', '18',
       '8', '', 'Week 3', '12', '21', '10', '', 'Week 4', '10', '22', '9'],
      dtype='<U16')