In [1]:
3.2e-12

3.2e-12

In [2]:
name = 'shubham'

In [3]:
for i in name:
    print(i)

s
h
u
b
h
a
m

In [4]:
value = range(10)

In [5]:
for i in value:
    if i == 2:
        break
    print('hello')

hello
hello

In [6]:
for i in range(8):
    if i==4:
        continue
    print(i)

0
1
2
3
5
6
7

In [7]:
a = 45
b = 49
c = 98

In [8]:
if a>b:
    print("a is greater:", a>b)
elif b>c:
    print("b is greater:", b>c)
else: 
    print("c is greatest:", c>a)

c is greatest: True

In [9]:
a = int(input("enter the value: "))

enter the value: 55

In [10]:
if a>=60:
    print("first devision")
elif a<60 and a>=45:
    print("second devision")   
elif a<45 and a>=30:
    print("third devision")
else:
    print("fail")

second devision

# functions

In [11]:
def greetings():
    print("hello")

In [12]:
greetings()

hello

In [13]:
def addition(a,b):
    s = a+b
    print(s)

In [14]:
addition(5,8)

13

In [15]:
def summation(*num):
    r = 0
    for n in num:
        r = r+n
    print("sum of no is:", r)

In [16]:
summation(1)

sum of no is: 1

In [17]:
summation(2,3,4)

sum of no is: 9

In [18]:
g = lambda name: print("hello", name)

In [19]:
g("shubh")

hello shubh

In [20]:
l = [2,5,7,8,9,15,16]

In [21]:
new_list = list(filter(lambda x:(x%2!=0),l))

In [22]:
new_list

[5, 7, 9, 15]

In [23]:
new_list = list(filter(lambda x:(x%2==0),l))

In [24]:
new_list

[2, 8, 16]

In [25]:
s = input("Input a string")
d=l=0
for c in s:
    if c.isdigit():
        d=d+1
    elif c.isalpha():
        l=l+1
    else:
        pass
print("Letters", l)
print("Digits", d)

Input a string5
Letters 0
Digits 1

In [26]:
word = input("Input a word to reverse: ")
 
for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

Input a word to reverse: 8
8

In [27]:
print(4+3%5)

7

In [28]:
a = 10
b = 3
print(a//b)

3

In [29]:
a = input("Enter the number")

Enter the number6

In [30]:
print("Twice of the number is: ", a*2 )

Twice of the number is:  66

In [31]:
a = [1,2,3,4,5,6,7,8,9,0]
print(a[0:5])

[1, 2, 3, 4, 5]

In [32]:
b = (1,2,3,4,5)
print(b[1::1])

(2, 3, 4, 5)

In [33]:
c = (23,88,99,101)
print(23 in c)

True

In [34]:
 d = [0,10,21,53,4]
print(d[-3])

21

In [35]:
a = {1,2,3}
b = {4,5,6}
print(a | b)

{1, 2, 3, 4, 5, 6}

In [36]:
a = "lnB"
a.capitalize()
print(a)

lnB

In [37]:
for i in [1,3,4]:
    print(i+1)

2
4
5

In [38]:
def multiplication_or_sum(num1, num2):
    # calculate product of two number
    product = num1 * num2
    # check if product is less then 1000
    if product <= 1000:
        return product
    else:
        # product is greater than 1000 calculate sum
        return num1 + num2

# first condition
result = multiplication_or_sum(20, 30)
print("The result is", result)

# Second condition
result = multiplication_or_sum(40, 30)
print("The result is", result)

The result is 600
The result is 70

In [51]:
def multiplication_or_sum(a, b):
    product = a*b
    sum = a+b
    if a*b > 1000:
        return product
        print( "product:" ,product)
    else:
        return sum
        print( "sum:", a+b)

In [53]:
a=12
b=23
product = a*b
sum = a+b
if product>1000:
       print( "product:" ,product)
else :
       print( "sum:", a+b)

sum: 35

In [54]:
# demo is the function name
def demo(name, age):
    # print value
    print(name, age)

# call function
demo("Ben", 25)

Ben 25

In [61]:
rows = 5
for x in range(0, rows):
    for y in range(0, x + 1):
        print("*", end=' ')
    print("*")

rows = 5
for x in range(rows, 0, -1):
    for y in range(0, x - 1):
        print("*", end=' ')
    print("*")

* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [66]:
str1 = "HimaNShu"
print('String:', str1)
lower = []
upper = []
for x in str1:
    if x.islower():
        lower.append(char)
    else:
        upper.append(char)

String: HimaNShu

In [64]:
sorted_str = ''.join(lower + upper)
print('Result:', sorted_str)

Result: ntivPYAE

In [69]:
sample_list = [34, 54, 67, 89, 11, 43, 94]

print("Original list ", sample_list)
element = sample_list.pop(4)
print("List After removing element at index 4 ", sample_list)

sample_list.insert(2, element)
print("List after Adding element at index 2 ", sample_list)

sample_list.append(element)
print("List after Adding element at last ", sample_list)

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

In [70]:
x= [1,2,3,4,5,]

slicing_x = x[-1:]

print(slicing_x)

[5]

In [75]:
name=input("Please enter your name.")
str = "Hello!, {}".format(name)
print(str)

Please enter your name.Hello
Hello!, Hello

In [77]:
lst1=[1,2,3,4,5]
lst2 = [i for i in lst1]
print(lst2)

[1, 2, 3, 4, 5]

In [78]:
rng = range(100, 160, 10)
dict = {i:i/100 for i in rng}
print(dict)

{100: 1.0, 110: 1.1, 120: 1.2, 130: 1.3, 140: 1.4, 150: 1.5}

In [79]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]
lst = sorted(lst, key=lambda x: x[1])
print(lst)

[(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

In [80]:
lst=[100, 10, 10000, 1, 9, 999, 99]
lst.sort(key=lambda x: 100/x)
print(lst)

[10000, 999, 100, 99, 10, 9, 1]

In [81]:
for i in range(100):
    print(i)
    if i == 7:
        break

0
1
2
3
4
5
6
7

In [82]:
import numpy as np
x = np.arange(100, 200, 10).reshape(5,2)
print (x)

[[100 110]
 [120 130]
 [140 150]
 [160 170]
 [180 190]]

In [83]:
What is the result of the following expression?
Expression:
0 * np.nan
np.nan == np.nan
np.inf > np.nan
np.nan - np.nan
np.nan in set([np.nan])
0.3 == 3 * 0.1

SyntaxError: invalid syntax (<ipython-input-83-996a70081bde>, line 2)

In [86]:
A = [1,2,0,0,4,0]
for i= 1:endof(A)
   if A[i] != 0
      []
   end
end

SyntaxError: invalid syntax (<ipython-input-86-61bd636f21c4>, line 2)

In [87]:
import string
alphabet = list(string.ascii_uppercase)
print(alphabet)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']