In [1]:
import csv

In [2]:
import numpy as np

In [3]:
data = []

In [4]:
with open("SampleTemperature Sheet - Sheet1.csv", 'r') as x:
    data = list(csv.reader(x, delimiter=","))

### 1. Data representation in appropriate Numpy

In [5]:
#Filling the missing values with suitable terms using masking

In [6]:
data = np.array(data)
display(data)

array([['Month', 'Week', 'Monday', '', 'Tuesday', '', 'Wednesday', '',
        'Thursday', '', 'Friday', '', 'Saturday', '', 'Sunday', ''],
       ['', '', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['November', 'Week 1', '8', '21', '11', '20', '12', '30', '15',
        '20', '11', '31', '14', '20', '8', '26'],
       ['', 'Week 2', '9', '21', '9', '23', '14', '21', '-13', '23',
        '11', '23', '10', '26', '6', '27'],
       ['', 'Week 3', '9', '32', '15', '22', '13', '21', '13', '28', '6',
        '26', '15', '24', '12', '29'],
       ['', 'Week 4', '13', '26', '6', '28', '15', '20', '9', '30', '13',
        '31', '7', '32', '15', '27'],
       ['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['', 'Week 2', '11', '28', '11', '25', '12', '23', '13', '23',
        '6', '25', '14', '25', '14', '26'],
       ['', 'Week 3', '8', '30', '12', '32', '6', '30', '11', '28', '11',
        '27', '15', '26', '8', '20'],
       ['', 'Week 4', '11', '29', '11', '27', '12', '28', '10', '22',
        '11', '21', '12', '27', '10', '28'],
       ['January', 'Week 1', '3', '19', '8', '22', '7', '18', '7', '22',
        '3', '19', '6', '8', '20', '7'],
       ['', 'Week 2', '5', '18', '8', '19', '7', '18', '6', '19', '5',
        '18', '7', '6', '20', '5'],
       ['', 'Week 3', '2', '22', '7', '19', '4', '22', '2', '21', '8',
        '22', '4', '2', '21', '2'],
       ['', 'Week 4', '4', '22', '6', '18', '8', '22', '5', '18', '3',
        '22', '4', '8', '18', '7'],
       ['February', 'Week 1', '10', '18', '9', '20', '-10', '21', '11',
        '20', '12', '19', '12', '71', '22', '7'],
       ['', 'Week 2', '11', '18', '8', '21', '11', '22', '7', '19', '12',
        '19', '11', '8', '20', '8'],
       ['', 'Week 3', '12', '21', '10', '22', '7', '18', '8', '19', '9',
        '22', '7', '11', '18', '11'],
       ['', 'Week 4', '10', '22', '9', '18', '7', '19', '11', '18', '7',
        '21', '11', '7', '18', '12']], dtype='<U9')

In [7]:
Index = data[0:2,:]

In [8]:
Index

array([['Month', 'Week', 'Monday', '', 'Tuesday', '', 'Wednesday', '',
        'Thursday', '', 'Friday', '', 'Saturday', '', 'Sunday', ''],
       ['', '', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp']],
      dtype='<U9')

In [9]:
Index[0,3] = 'Monday'
Index[0,5] = 'Tuesday'
Index[0,7] = 'Wednesday'
Index[0,9] = 'Thursday'
Index[0,11] = 'Friday'
Index[0,13] = 'Saturday'
Index[0,15] = 'Sunday'
Index[1,0] = 'Month'
Index[1,1] = 'Week'
Index

array([['Month', 'Week', 'Monday', 'Monday', 'Tuesday', 'Tuesday',
        'Wednesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday',
        'Friday', 'Saturday', 'Saturday', 'Sunday', 'Sunday'],
       ['Month', 'Week', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp']],
      dtype='<U9')

In [10]:
Nov_data = data[2:6,0:]
Nov_data

array([['November', 'Week 1', '8', '21', '11', '20', '12', '30', '15',
        '20', '11', '31', '14', '20', '8', '26'],
       ['', 'Week 2', '9', '21', '9', '23', '14', '21', '-13', '23',
        '11', '23', '10', '26', '6', '27'],
       ['', 'Week 3', '9', '32', '15', '22', '13', '21', '13', '28', '6',
        '26', '15', '24', '12', '29'],
       ['', 'Week 4', '13', '26', '6', '28', '15', '20', '9', '30', '13',
        '31', '7', '32', '15', '27']], dtype='<U9')

In [11]:
Nov_data.shape

(4, 16)

In [12]:
Nov_data[1:4,0] = 'November'

In [13]:
Nov_data

array([['November', 'Week 1', '8', '21', '11', '20', '12', '30', '15',
        '20', '11', '31', '14', '20', '8', '26'],
       ['November', 'Week 2', '9', '21', '9', '23', '14', '21', '-13',
        '23', '11', '23', '10', '26', '6', '27'],
       ['November', 'Week 3', '9', '32', '15', '22', '13', '21', '13',
        '28', '6', '26', '15', '24', '12', '29'],
       ['November', 'Week 4', '13', '26', '6', '28', '15', '20', '9',
        '30', '13', '31', '7', '32', '15', '27']], dtype='<U9')

In [14]:
Dec_data = data[6:10,0:]
Dec_data

array([['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['', 'Week 2', '11', '28', '11', '25', '12', '23', '13', '23',
        '6', '25', '14', '25', '14', '26'],
       ['', 'Week 3', '8', '30', '12', '32', '6', '30', '11', '28', '11',
        '27', '15', '26', '8', '20'],
       ['', 'Week 4', '11', '29', '11', '27', '12', '28', '10', '22',
        '11', '21', '12', '27', '10', '28']], dtype='<U9')

In [15]:
Dec_data[1:4,0] = 'December'

In [16]:
Dec_data

array([['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['December', 'Week 2', '11', '28', '11', '25', '12', '23', '13',
        '23', '6', '25', '14', '25', '14', '26'],
       ['December', 'Week 3', '8', '30', '12', '32', '6', '30', '11',
        '28', '11', '27', '15', '26', '8', '20'],
       ['December', 'Week 4', '11', '29', '11', '27', '12', '28', '10',
        '22', '11', '21', '12', '27', '10', '28']], dtype='<U9')

In [17]:
Jan_data = data[10:14,0:]
Jan_data

array([['January', 'Week 1', '3', '19', '8', '22', '7', '18', '7', '22',
        '3', '19', '6', '8', '20', '7'],
       ['', 'Week 2', '5', '18', '8', '19', '7', '18', '6', '19', '5',
        '18', '7', '6', '20', '5'],
       ['', 'Week 3', '2', '22', '7', '19', '4', '22', '2', '21', '8',
        '22', '4', '2', '21', '2'],
       ['', 'Week 4', '4', '22', '6', '18', '8', '22', '5', '18', '3',
        '22', '4', '8', '18', '7']], dtype='<U9')

In [18]:
Jan_data[1:4,0] = 'January'
Jan_data

array([['January', 'Week 1', '3', '19', '8', '22', '7', '18', '7', '22',
        '3', '19', '6', '8', '20', '7'],
       ['January', 'Week 2', '5', '18', '8', '19', '7', '18', '6', '19',
        '5', '18', '7', '6', '20', '5'],
       ['January', 'Week 3', '2', '22', '7', '19', '4', '22', '2', '21',
        '8', '22', '4', '2', '21', '2'],
       ['January', 'Week 4', '4', '22', '6', '18', '8', '22', '5', '18',
        '3', '22', '4', '8', '18', '7']], dtype='<U9')

In [19]:
Feb_data = data[14:18,0:]
Feb_data

array([['February', 'Week 1', '10', '18', '9', '20', '-10', '21', '11',
        '20', '12', '19', '12', '71', '22', '7'],
       ['', 'Week 2', '11', '18', '8', '21', '11', '22', '7', '19', '12',
        '19', '11', '8', '20', '8'],
       ['', 'Week 3', '12', '21', '10', '22', '7', '18', '8', '19', '9',
        '22', '7', '11', '18', '11'],
       ['', 'Week 4', '10', '22', '9', '18', '7', '19', '11', '18', '7',
        '21', '11', '7', '18', '12']], dtype='<U9')

In [20]:
Feb_data[1:4,0] = 'Febuary'
Feb_data

array([['February', 'Week 1', '10', '18', '9', '20', '-10', '21', '11',
        '20', '12', '19', '12', '71', '22', '7'],
       ['Febuary', 'Week 2', '11', '18', '8', '21', '11', '22', '7',
        '19', '12', '19', '11', '8', '20', '8'],
       ['Febuary', 'Week 3', '12', '21', '10', '22', '7', '18', '8',
        '19', '9', '22', '7', '11', '18', '11'],
       ['Febuary', 'Week 4', '10', '22', '9', '18', '7', '19', '11',
        '18', '7', '21', '11', '7', '18', '12']], dtype='<U9')

In [21]:
final_data = np.vstack(((((Index,Nov_data,Dec_data,Jan_data,Feb_data)))))

In [22]:
final_data

array([['Month', 'Week', 'Monday', 'Monday', 'Tuesday', 'Tuesday',
        'Wednesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday',
        'Friday', 'Saturday', 'Saturday', 'Sunday', 'Sunday'],
       ['Month', 'Week', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['November', 'Week 1', '8', '21', '11', '20', '12', '30', '15',
        '20', '11', '31', '14', '20', '8', '26'],
       ['November', 'Week 2', '9', '21', '9', '23', '14', '21', '-13',
        '23', '11', '23', '10', '26', '6', '27'],
       ['November', 'Week 3', '9', '32', '15', '22', '13', '21', '13',
        '28', '6', '26', '15', '24', '12', '29'],
       ['November', 'Week 4', '13', '26', '6', '28', '15', '20', '9',
        '30', '13', '31', '7', '32', '15', '27'],
       ['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['December', 'Week 2', '11', '28', '11', '25', '12', '23', '13',
        '23', '6', '25', '14', '25', '14', '26'],
       ['December', 'Week 3', '8', '30', '12', '32', '6', '30', '11',
        '28', '11', '27', '15', '26', '8', '20'],
       ['December', 'Week 4', '11', '29', '11', '27', '12', '28', '10',
        '22', '11', '21', '12', '27', '10', '28'],
       ['January', 'Week 1', '3', '19', '8', '22', '7', '18', '7', '22',
        '3', '19', '6', '8', '20', '7'],
       ['January', 'Week 2', '5', '18', '8', '19', '7', '18', '6', '19',
        '5', '18', '7', '6', '20', '5'],
       ['January', 'Week 3', '2', '22', '7', '19', '4', '22', '2', '21',
        '8', '22', '4', '2', '21', '2'],
       ['January', 'Week 4', '4', '22', '6', '18', '8', '22', '5', '18',
        '3', '22', '4', '8', '18', '7'],
       ['February', 'Week 1', '10', '18', '9', '20', '-10', '21', '11',
        '20', '12', '19', '12', '71', '22', '7'],
       ['Febuary', 'Week 2', '11', '18', '8', '21', '11', '22', '7',
        '19', '12', '19', '11', '8', '20', '8'],
       ['Febuary', 'Week 3', '12', '21', '10', '22', '7', '18', '8',
        '19', '9', '22', '7', '11', '18', '11'],
       ['Febuary', 'Week 4', '10', '22', '9', '18', '7', '19', '11',
        '18', '7', '21', '11', '7', '18', '12']], dtype='<U9')

### 2. Dimensions and shape of the array

In [23]:
data.shape #shape of array

(18, 16)

In [24]:
data.dtype.type

numpy.str_

In [25]:
data.ndim #dimension of array

2

### 3. The daily temperatures for the first week of each month

In [26]:
Nov_data #first print the nov month data

array([['November', 'Week 1', '8', '21', '11', '20', '12', '30', '15',
        '20', '11', '31', '14', '20', '8', '26'],
       ['November', 'Week 2', '9', '21', '9', '23', '14', '21', '-13',
        '23', '11', '23', '10', '26', '6', '27'],
       ['November', 'Week 3', '9', '32', '15', '22', '13', '21', '13',
        '28', '6', '26', '15', '24', '12', '29'],
       ['November', 'Week 4', '13', '26', '6', '28', '15', '20', '9',
        '30', '13', '31', '7', '32', '15', '27']], dtype='<U9')

In [27]:
Nov_Week1_max = Nov_data[0,2:].astype(int) #then select the first week on nov month

In [28]:
Nov_Week1_max

array([ 8, 21, 11, 20, 12, 30, 15, 20, 11, 31, 14, 20,  8, 26])

In [29]:
np.max(Nov_Week1_max) #then calculate max of that

31

In [30]:
Dec_data

array([['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['December', 'Week 2', '11', '28', '11', '25', '12', '23', '13',
        '23', '6', '25', '14', '25', '14', '26'],
       ['December', 'Week 3', '8', '30', '12', '32', '6', '30', '11',
        '28', '11', '27', '15', '26', '8', '20'],
       ['December', 'Week 4', '11', '29', '11', '27', '12', '28', '10',
        '22', '11', '21', '12', '27', '10', '28']], dtype='<U9')

In [31]:
Dec_Week1_max = Dec_data[0,2:].astype(int) #then select the first week on nov month
Dec_Week1_max

array([ 7, 32, 11, 31,  8, 27, 11, 25, 10, 31,  6, 24,  6, 31])

In [32]:
np.max(Dec_Week1_max) #then calculate max of that

32

In [33]:
Jan_data

array([['January', 'Week 1', '3', '19', '8', '22', '7', '18', '7', '22',
        '3', '19', '6', '8', '20', '7'],
       ['January', 'Week 2', '5', '18', '8', '19', '7', '18', '6', '19',
        '5', '18', '7', '6', '20', '5'],
       ['January', 'Week 3', '2', '22', '7', '19', '4', '22', '2', '21',
        '8', '22', '4', '2', '21', '2'],
       ['January', 'Week 4', '4', '22', '6', '18', '8', '22', '5', '18',
        '3', '22', '4', '8', '18', '7']], dtype='<U9')

In [34]:
Jan_Week1_max = Jan_data[0,2:].astype(int) #then select the first week on nov month
Jan_Week1_max

array([ 3, 19,  8, 22,  7, 18,  7, 22,  3, 19,  6,  8, 20,  7])

In [35]:
np.max(Jan_Week1_max) #then calculate max of that

22

In [36]:
Feb_data

array([['February', 'Week 1', '10', '18', '9', '20', '-10', '21', '11',
        '20', '12', '19', '12', '71', '22', '7'],
       ['Febuary', 'Week 2', '11', '18', '8', '21', '11', '22', '7',
        '19', '12', '19', '11', '8', '20', '8'],
       ['Febuary', 'Week 3', '12', '21', '10', '22', '7', '18', '8',
        '19', '9', '22', '7', '11', '18', '11'],
       ['Febuary', 'Week 4', '10', '22', '9', '18', '7', '19', '11',
        '18', '7', '21', '11', '7', '18', '12']], dtype='<U9')

In [37]:
Feb_Week1_max = Feb_data[0,2:].astype(int) #then select the first week on nov month
Feb_Week1_max

array([ 10,  18,   9,  20, -10,  21,  11,  20,  12,  19,  12,  71,  22,
         7])

In [38]:
np.max(Feb_Week1_max) #then calculate max of that

71

### 4. Print the temperatures for Tuesday of each month

In [39]:
Tues_temp = data[2:,4:6]

In [40]:
Tues_temp

array([['11', '20'],
       ['9', '23'],
       ['15', '22'],
       ['6', '28'],
       ['11', '31'],
       ['11', '25'],
       ['12', '32'],
       ['11', '27'],
       ['8', '22'],
       ['8', '19'],
       ['7', '19'],
       ['6', '18'],
       ['9', '20'],
       ['8', '21'],
       ['10', '22'],
       ['9', '18']], dtype='<U9')

In [41]:
Months = data[2:,0:2]

In [42]:
Tuesday_temp = np.hstack((Months,Tues_temp))
Tuesday_temp

array([['November', 'Week 1', '11', '20'],
       ['November', 'Week 2', '9', '23'],
       ['November', 'Week 3', '15', '22'],
       ['November', 'Week 4', '6', '28'],
       ['December', 'Week 1', '11', '31'],
       ['December', 'Week 2', '11', '25'],
       ['December', 'Week 3', '12', '32'],
       ['December', 'Week 4', '11', '27'],
       ['January', 'Week 1', '8', '22'],
       ['January', 'Week 2', '8', '19'],
       ['January', 'Week 3', '7', '19'],
       ['January', 'Week 4', '6', '18'],
       ['February', 'Week 1', '9', '20'],
       ['Febuary', 'Week 2', '8', '21'],
       ['Febuary', 'Week 3', '10', '22'],
       ['Febuary', 'Week 4', '9', '18']], dtype='<U9')

### 5 .Print only the maximum temperature for all the weekdays of Dec and Feb.

In [43]:
Dec_data

array([['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['December', 'Week 2', '11', '28', '11', '25', '12', '23', '13',
        '23', '6', '25', '14', '25', '14', '26'],
       ['December', 'Week 3', '8', '30', '12', '32', '6', '30', '11',
        '28', '11', '27', '15', '26', '8', '20'],
       ['December', 'Week 4', '11', '29', '11', '27', '12', '28', '10',
        '22', '11', '21', '12', '27', '10', '28']], dtype='<U9')

In [44]:
Feb_data

array([['February', 'Week 1', '10', '18', '9', '20', '-10', '21', '11',
        '20', '12', '19', '12', '71', '22', '7'],
       ['Febuary', 'Week 2', '11', '18', '8', '21', '11', '22', '7',
        '19', '12', '19', '11', '8', '20', '8'],
       ['Febuary', 'Week 3', '12', '21', '10', '22', '7', '18', '8',
        '19', '9', '22', '7', '11', '18', '11'],
       ['Febuary', 'Week 4', '10', '22', '9', '18', '7', '19', '11',
        '18', '7', '21', '11', '7', '18', '12']], dtype='<U9')

In [45]:
Index

array([['Month', 'Week', 'Monday', 'Monday', 'Tuesday', 'Tuesday',
        'Wednesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday',
        'Friday', 'Saturday', 'Saturday', 'Sunday', 'Sunday'],
       ['Month', 'Week', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp']],
      dtype='<U9')

In [46]:
max_weekdays = np.vstack(((Index,Dec_data,Feb_data)))
max_weekdays

array([['Month', 'Week', 'Monday', 'Monday', 'Tuesday', 'Tuesday',
        'Wednesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday',
        'Friday', 'Saturday', 'Saturday', 'Sunday', 'Sunday'],
       ['Month', 'Week', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['December', 'Week 2', '11', '28', '11', '25', '12', '23', '13',
        '23', '6', '25', '14', '25', '14', '26'],
       ['December', 'Week 3', '8', '30', '12', '32', '6', '30', '11',
        '28', '11', '27', '15', '26', '8', '20'],
       ['December', 'Week 4', '11', '29', '11', '27', '12', '28', '10',
        '22', '11', '21', '12', '27', '10', '28'],
       ['February', 'Week 1', '10', '18', '9', '20', '-10', '21', '11',
        '20', '12', '19', '12', '71', '22', '7'],
       ['Febuary', 'Week 2', '11', '18', '8', '21', '11', '22', '7',
        '19', '12', '19', '11', '8', '20', '8'],
       ['Febuary', 'Week 3', '12', '21', '10', '22', '7', '18', '8',
        '19', '9', '22', '7', '11', '18', '11'],
       ['Febuary', 'Week 4', '10', '22', '9', '18', '7', '19', '11',
        '18', '7', '21', '11', '7', '18', '12']], dtype='<U9')

In [47]:
max_temp_weekdays = max_weekdays[:,3::2]
max_temp_weekdays

array([['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
        'Saturday', 'Sunday'],
       ['Max Temp', 'Max Temp', 'Max Temp', 'Max Temp', 'Max Temp',
        'Max Temp', 'Max Temp'],
       ['32', '31', '27', '25', '31', '24', '31'],
       ['28', '25', '23', '23', '25', '25', '26'],
       ['30', '32', '30', '28', '27', '26', '20'],
       ['29', '27', '28', '22', '21', '27', '28'],
       ['18', '20', '21', '20', '19', '71', '7'],
       ['18', '21', '22', '19', '19', '8', '8'],
       ['21', '22', '18', '19', '22', '11', '11'],
       ['22', '18', '19', '18', '21', '7', '12']], dtype='<U9')

### 6. Print all the days along with the week number in November when the minimum temperature was less than 8 degrees.

In [48]:
Nov_data

array([['November', 'Week 1', '8', '21', '11', '20', '12', '30', '15',
        '20', '11', '31', '14', '20', '8', '26'],
       ['November', 'Week 2', '9', '21', '9', '23', '14', '21', '-13',
        '23', '11', '23', '10', '26', '6', '27'],
       ['November', 'Week 3', '9', '32', '15', '22', '13', '21', '13',
        '28', '6', '26', '15', '24', '12', '29'],
       ['November', 'Week 4', '13', '26', '6', '28', '15', '20', '9',
        '30', '13', '31', '7', '32', '15', '27']], dtype='<U9')

In [49]:
Nov_temp_con1 = Nov_data[0,2:].astype(int)
Nov_temp_week1 = Nov_temp_con1<=8

In [50]:
Nov_temp_con1

array([ 8, 21, 11, 20, 12, 30, 15, 20, 11, 31, 14, 20,  8, 26])

In [51]:
Nov_temp_week1 #only two condition

array([ True, False, False, False, False, False, False, False, False,
       False, False, False,  True, False])

In [52]:
Nov_temp_con2 = Nov_data[1,2:].astype(int)
Nov_temp_week2 = Nov_temp_con2<=8

In [53]:
print("For week 2 on temp value:" ,Nov_temp_con2)

For week 2 on temp value: [  9  21   9  23  14  21 -13  23  11  23  10  26   6  27]

In [54]:
print("For week 2 on temp less than 8 cond:" ,Nov_temp_week2)

For week 2 on temp less than 8 cond: [False False False False False False  True False False False False False
  True False]

In [55]:
Nov_temp_con3 = Nov_data[2,2:].astype(int)
Nov_temp_week3 = Nov_temp_con3<=8

In [56]:
print("For week 3 on temp value:" ,Nov_temp_con3)
print("For week 3 on temp less than 8 cond:" ,Nov_temp_week3)

For week 3 on temp value: [ 9 32 15 22 13 21 13 28  6 26 15 24 12 29]
For week 3 on temp less than 8 cond: [False False False False False False False False  True False False False
 False False]

In [57]:
Nov_temp_con4 = Nov_data[3,2:].astype(int)
Nov_temp_week4 = Nov_temp_con4<=8

In [58]:
print("For week 4 on temp value:" ,Nov_temp_con4)
print("For week 4 on temp less than 8 cond:" ,Nov_temp_week4)

For week 4 on temp value: [13 26  6 28 15 20  9 30 13 31  7 32 15 27]
For week 4 on temp less than 8 cond: [False False  True False False False False False False False  True False
 False False]

### 7. Print all the weeks in Dec and Jan where the maximum temperature has crossed a threshold of 20 degrees.

In [59]:
New_con = np.vstack(((Index,Dec_data,Jan_data)))
New_con

array([['Month', 'Week', 'Monday', 'Monday', 'Tuesday', 'Tuesday',
        'Wednesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday',
        'Friday', 'Saturday', 'Saturday', 'Sunday', 'Sunday'],
       ['Month', 'Week', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['December', 'Week 2', '11', '28', '11', '25', '12', '23', '13',
        '23', '6', '25', '14', '25', '14', '26'],
       ['December', 'Week 3', '8', '30', '12', '32', '6', '30', '11',
        '28', '11', '27', '15', '26', '8', '20'],
       ['December', 'Week 4', '11', '29', '11', '27', '12', '28', '10',
        '22', '11', '21', '12', '27', '10', '28'],
       ['January', 'Week 1', '3', '19', '8', '22', '7', '18', '7', '22',
        '3', '19', '6', '8', '20', '7'],
       ['January', 'Week 2', '5', '18', '8', '19', '7', '18', '6', '19',
        '5', '18', '7', '6', '20', '5'],
       ['January', 'Week 3', '2', '22', '7', '19', '4', '22', '2', '21',
        '8', '22', '4', '2', '21', '2'],
       ['January', 'Week 4', '4', '22', '6', '18', '8', '22', '5', '18',
        '3', '22', '4', '8', '18', '7']], dtype='<U9')

In [60]:
New_con1 = New_con[2:,3::2]
New_con1

array([['32', '31', '27', '25', '31', '24', '31'],
       ['28', '25', '23', '23', '25', '25', '26'],
       ['30', '32', '30', '28', '27', '26', '20'],
       ['29', '27', '28', '22', '21', '27', '28'],
       ['19', '22', '18', '22', '19', '8', '7'],
       ['18', '19', '18', '19', '18', '6', '5'],
       ['22', '19', '22', '21', '22', '2', '2'],
       ['22', '18', '22', '18', '22', '8', '7']], dtype='<U9')

In [61]:
New_con1 = New_con1[:,:].reshape(7*8,)

In [62]:
New_con1.astype(int)

array([32, 31, 27, 25, 31, 24, 31, 28, 25, 23, 23, 25, 25, 26, 30, 32, 30,
       28, 27, 26, 20, 29, 27, 28, 22, 21, 27, 28, 19, 22, 18, 22, 19,  8,
        7, 18, 19, 18, 19, 18,  6,  5, 22, 19, 22, 21, 22,  2,  2, 22, 18,
       22, 18, 22,  8,  7])

In [63]:
Max_temp = New_con1.astype(int)>=20
Max_temp

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False,  True, False, False, False, False,
       False, False, False, False, False, False,  True, False,  True,
        True,  True, False, False,  True, False,  True, False,  True,
       False, False])

### 8. Check if there are any absurd values present in the dataset(like some temp which should not be present in the data)

In [64]:
data

array([['Month', 'Week', 'Monday', 'Monday', 'Tuesday', 'Tuesday',
        'Wednesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday',
        'Friday', 'Saturday', 'Saturday', 'Sunday', 'Sunday'],
       ['Month', 'Week', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['November', 'Week 1', '8', '21', '11', '20', '12', '30', '15',
        '20', '11', '31', '14', '20', '8', '26'],
       ['November', 'Week 2', '9', '21', '9', '23', '14', '21', '-13',
        '23', '11', '23', '10', '26', '6', '27'],
       ['November', 'Week 3', '9', '32', '15', '22', '13', '21', '13',
        '28', '6', '26', '15', '24', '12', '29'],
       ['November', 'Week 4', '13', '26', '6', '28', '15', '20', '9',
        '30', '13', '31', '7', '32', '15', '27'],
       ['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['December', 'Week 2', '11', '28', '11', '25', '12', '23', '13',
        '23', '6', '25', '14', '25', '14', '26'],
       ['December', 'Week 3', '8', '30', '12', '32', '6', '30', '11',
        '28', '11', '27', '15', '26', '8', '20'],
       ['December', 'Week 4', '11', '29', '11', '27', '12', '28', '10',
        '22', '11', '21', '12', '27', '10', '28'],
       ['January', 'Week 1', '3', '19', '8', '22', '7', '18', '7', '22',
        '3', '19', '6', '8', '20', '7'],
       ['January', 'Week 2', '5', '18', '8', '19', '7', '18', '6', '19',
        '5', '18', '7', '6', '20', '5'],
       ['January', 'Week 3', '2', '22', '7', '19', '4', '22', '2', '21',
        '8', '22', '4', '2', '21', '2'],
       ['January', 'Week 4', '4', '22', '6', '18', '8', '22', '5', '18',
        '3', '22', '4', '8', '18', '7'],
       ['February', 'Week 1', '10', '18', '9', '20', '-10', '21', '11',
        '20', '12', '19', '12', '71', '22', '7'],
       ['Febuary', 'Week 2', '11', '18', '8', '21', '11', '22', '7',
        '19', '12', '19', '11', '8', '20', '8'],
       ['Febuary', 'Week 3', '12', '21', '10', '22', '7', '18', '8',
        '19', '9', '22', '7', '11', '18', '11'],
       ['Febuary', 'Week 4', '10', '22', '9', '18', '7', '19', '11',
        '18', '7', '21', '11', '7', '18', '12']], dtype='<U9')

In [65]:
#missing values or outlier

In [66]:
#there is not any missing values but some outliers like -13,-10

### 9.What strategy would you use to handle such data points?

In [67]:
#to handle outliers we calculate the inter qurtile range and then find the outliers and then fill that value with median

### 10. Find and print the indexes of all the outlier(unusual) values present in the above dataset.

In [68]:
data

array([['Month', 'Week', 'Monday', 'Monday', 'Tuesday', 'Tuesday',
        'Wednesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday',
        'Friday', 'Saturday', 'Saturday', 'Sunday', 'Sunday'],
       ['Month', 'Week', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['November', 'Week 1', '8', '21', '11', '20', '12', '30', '15',
        '20', '11', '31', '14', '20', '8', '26'],
       ['November', 'Week 2', '9', '21', '9', '23', '14', '21', '-13',
        '23', '11', '23', '10', '26', '6', '27'],
       ['November', 'Week 3', '9', '32', '15', '22', '13', '21', '13',
        '28', '6', '26', '15', '24', '12', '29'],
       ['November', 'Week 4', '13', '26', '6', '28', '15', '20', '9',
        '30', '13', '31', '7', '32', '15', '27'],
       ['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['December', 'Week 2', '11', '28', '11', '25', '12', '23', '13',
        '23', '6', '25', '14', '25', '14', '26'],
       ['December', 'Week 3', '8', '30', '12', '32', '6', '30', '11',
        '28', '11', '27', '15', '26', '8', '20'],
       ['December', 'Week 4', '11', '29', '11', '27', '12', '28', '10',
        '22', '11', '21', '12', '27', '10', '28'],
       ['January', 'Week 1', '3', '19', '8', '22', '7', '18', '7', '22',
        '3', '19', '6', '8', '20', '7'],
       ['January', 'Week 2', '5', '18', '8', '19', '7', '18', '6', '19',
        '5', '18', '7', '6', '20', '5'],
       ['January', 'Week 3', '2', '22', '7', '19', '4', '22', '2', '21',
        '8', '22', '4', '2', '21', '2'],
       ['January', 'Week 4', '4', '22', '6', '18', '8', '22', '5', '18',
        '3', '22', '4', '8', '18', '7'],
       ['February', 'Week 1', '10', '18', '9', '20', '-10', '21', '11',
        '20', '12', '19', '12', '71', '22', '7'],
       ['Febuary', 'Week 2', '11', '18', '8', '21', '11', '22', '7',
        '19', '12', '19', '11', '8', '20', '8'],
       ['Febuary', 'Week 3', '12', '21', '10', '22', '7', '18', '8',
        '19', '9', '22', '7', '11', '18', '11'],
       ['Febuary', 'Week 4', '10', '22', '9', '18', '7', '19', '11',
        '18', '7', '21', '11', '7', '18', '12']], dtype='<U9')

In [69]:
outliers = data[2:,2:].astype(int)
outliers

array([[  8,  21,  11,  20,  12,  30,  15,  20,  11,  31,  14,  20,   8,
         26],
       [  9,  21,   9,  23,  14,  21, -13,  23,  11,  23,  10,  26,   6,
         27],
       [  9,  32,  15,  22,  13,  21,  13,  28,   6,  26,  15,  24,  12,
         29],
       [ 13,  26,   6,  28,  15,  20,   9,  30,  13,  31,   7,  32,  15,
         27],
       [  7,  32,  11,  31,   8,  27,  11,  25,  10,  31,   6,  24,   6,
         31],
       [ 11,  28,  11,  25,  12,  23,  13,  23,   6,  25,  14,  25,  14,
         26],
       [  8,  30,  12,  32,   6,  30,  11,  28,  11,  27,  15,  26,   8,
         20],
       [ 11,  29,  11,  27,  12,  28,  10,  22,  11,  21,  12,  27,  10,
         28],
       [  3,  19,   8,  22,   7,  18,   7,  22,   3,  19,   6,   8,  20,
          7],
       [  5,  18,   8,  19,   7,  18,   6,  19,   5,  18,   7,   6,  20,
          5],
       [  2,  22,   7,  19,   4,  22,   2,  21,   8,  22,   4,   2,  21,
          2],
       [  4,  22,   6,  18,   8,  22,   5,  18,   3,  22,   4,   8,  18,
          7],
       [ 10,  18,   9,  20, -10,  21,  11,  20,  12,  19,  12,  71,  22,
          7],
       [ 11,  18,   8,  21,  11,  22,   7,  19,  12,  19,  11,   8,  20,
          8],
       [ 12,  21,  10,  22,   7,  18,   8,  19,   9,  22,   7,  11,  18,
         11],
       [ 10,  22,   9,  18,   7,  19,  11,  18,   7,  21,  11,   7,  18,
         12]])

In [70]:
outliers.shape

(16, 14)

In [71]:
outliers.reshape(16*14,)

array([  8,  21,  11,  20,  12,  30,  15,  20,  11,  31,  14,  20,   8,
        26,   9,  21,   9,  23,  14,  21, -13,  23,  11,  23,  10,  26,
         6,  27,   9,  32,  15,  22,  13,  21,  13,  28,   6,  26,  15,
        24,  12,  29,  13,  26,   6,  28,  15,  20,   9,  30,  13,  31,
         7,  32,  15,  27,   7,  32,  11,  31,   8,  27,  11,  25,  10,
        31,   6,  24,   6,  31,  11,  28,  11,  25,  12,  23,  13,  23,
         6,  25,  14,  25,  14,  26,   8,  30,  12,  32,   6,  30,  11,
        28,  11,  27,  15,  26,   8,  20,  11,  29,  11,  27,  12,  28,
        10,  22,  11,  21,  12,  27,  10,  28,   3,  19,   8,  22,   7,
        18,   7,  22,   3,  19,   6,   8,  20,   7,   5,  18,   8,  19,
         7,  18,   6,  19,   5,  18,   7,   6,  20,   5,   2,  22,   7,
        19,   4,  22,   2,  21,   8,  22,   4,   2,  21,   2,   4,  22,
         6,  18,   8,  22,   5,  18,   3,  22,   4,   8,  18,   7,  10,
        18,   9,  20, -10,  21,  11,  20,  12,  19,  12,  71,  22,   7,
        11,  18,   8,  21,  11,  22,   7,  19,  12,  19,  11,   8,  20,
         8,  12,  21,  10,  22,   7,  18,   8,  19,   9,  22,   7,  11,
        18,  11,  10,  22,   9,  18,   7,  19,  11,  18,   7,  21,  11,
         7,  18,  12])

In [72]:
out_sort = np.sort(outliers.reshape(16*14,))
out_sort

array([-13, -10,   2,   2,   2,   2,   3,   3,   3,   4,   4,   4,   4,
         5,   5,   5,   5,   6,   6,   6,   6,   6,   6,   6,   6,   6,
         6,   6,   7,   7,   7,   7,   7,   7,   7,   7,   7,   7,   7,
         7,   7,   7,   7,   7,   8,   8,   8,   8,   8,   8,   8,   8,
         8,   8,   8,   8,   8,   8,   8,   9,   9,   9,   9,   9,   9,
         9,  10,  10,  10,  10,  10,  10,  10,  11,  11,  11,  11,  11,
        11,  11,  11,  11,  11,  11,  11,  11,  11,  11,  11,  11,  11,
        11,  11,  12,  12,  12,  12,  12,  12,  12,  12,  12,  12,  12,
        13,  13,  13,  13,  13,  14,  14,  14,  14,  15,  15,  15,  15,
        15,  15,  18,  18,  18,  18,  18,  18,  18,  18,  18,  18,  18,
        18,  18,  18,  19,  19,  19,  19,  19,  19,  19,  19,  19,  19,
        20,  20,  20,  20,  20,  20,  20,  20,  20,  20,  21,  21,  21,
        21,  21,  21,  21,  21,  21,  21,  21,  22,  22,  22,  22,  22,
        22,  22,  22,  22,  22,  22,  22,  22,  22,  22,  23,  23,  23,
        23,  23,  24,  24,  25,  25,  25,  25,  26,  26,  26,  26,  26,
        26,  27,  27,  27,  27,  27,  27,  28,  28,  28,  28,  28,  28,
        29,  29,  30,  30,  30,  30,  31,  31,  31,  31,  31,  32,  32,
        32,  32,  71])

In [73]:
Q1 = np.percentile(out_sort,25)

In [74]:
Q3 = np.percentile(out_sort,75)

In [75]:
IQR = Q3 -Q1

In [76]:
IQR

14.0

In [77]:
 lower_range = Q1 - (1.5 * IQR)
 upper_range = Q3 + (1.5 * IQR)

In [78]:
print("the value of lower range:",lower_range)
print("the value of upper range:",upper_range)

the value of lower range: -13.0
the value of upper range: 43.0

In [79]:
outlier =[]
for x in out_sort:
    if ((x> upper_range) or (x<lower_range)):
         outlier.append(x)
print(' outlier in the dataset is', outlier)

 outlier in the dataset is [71]

### 11.Replace the outliers with an appropriate value.

In [80]:
App_value = outliers.reshape(16*14,)

In [81]:
x

71

In [82]:
mad = np.median(abs(App_value-np.median(App_value)))
print(mad)

7.0

### 12. Find the average max temperature for the winter months in Jaipur.

In [83]:
avg_max = np.vstack(((Index, Nov_data, Dec_data, Jan_data)))
avg_max

array([['Month', 'Week', 'Monday', 'Monday', 'Tuesday', 'Tuesday',
        'Wednesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday',
        'Friday', 'Saturday', 'Saturday', 'Sunday', 'Sunday'],
       ['Month', 'Week', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['November', 'Week 1', '8', '21', '11', '20', '12', '30', '15',
        '20', '11', '31', '14', '20', '8', '26'],
       ['November', 'Week 2', '9', '21', '9', '23', '14', '21', '-13',
        '23', '11', '23', '10', '26', '6', '27'],
       ['November', 'Week 3', '9', '32', '15', '22', '13', '21', '13',
        '28', '6', '26', '15', '24', '12', '29'],
       ['November', 'Week 4', '13', '26', '6', '28', '15', '20', '9',
        '30', '13', '31', '7', '32', '15', '27'],
       ['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['December', 'Week 2', '11', '28', '11', '25', '12', '23', '13',
        '23', '6', '25', '14', '25', '14', '26'],
       ['December', 'Week 3', '8', '30', '12', '32', '6', '30', '11',
        '28', '11', '27', '15', '26', '8', '20'],
       ['December', 'Week 4', '11', '29', '11', '27', '12', '28', '10',
        '22', '11', '21', '12', '27', '10', '28'],
       ['January', 'Week 1', '3', '19', '8', '22', '7', '18', '7', '22',
        '3', '19', '6', '8', '20', '7'],
       ['January', 'Week 2', '5', '18', '8', '19', '7', '18', '6', '19',
        '5', '18', '7', '6', '20', '5'],
       ['January', 'Week 3', '2', '22', '7', '19', '4', '22', '2', '21',
        '8', '22', '4', '2', '21', '2'],
       ['January', 'Week 4', '4', '22', '6', '18', '8', '22', '5', '18',
        '3', '22', '4', '8', '18', '7']], dtype='<U9')

In [84]:
Avg_Temp = avg_max[2:,3::2].astype(int)
Avg_Temp

array([[21, 20, 30, 20, 31, 20, 26],
       [21, 23, 21, 23, 23, 26, 27],
       [32, 22, 21, 28, 26, 24, 29],
       [26, 28, 20, 30, 31, 32, 27],
       [32, 31, 27, 25, 31, 24, 31],
       [28, 25, 23, 23, 25, 25, 26],
       [30, 32, 30, 28, 27, 26, 20],
       [29, 27, 28, 22, 21, 27, 28],
       [19, 22, 18, 22, 19,  8,  7],
       [18, 19, 18, 19, 18,  6,  5],
       [22, 19, 22, 21, 22,  2,  2],
       [22, 18, 22, 18, 22,  8,  7]])

In [85]:
np.mean(Avg_Temp)

22.666666666666668

In [86]:
np.max(Avg_Temp)

32

### 13. Find the weekly min avg temp for the month of Dec in Jaipur

In [87]:
Dec_data

array([['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['December', 'Week 2', '11', '28', '11', '25', '12', '23', '13',
        '23', '6', '25', '14', '25', '14', '26'],
       ['December', 'Week 3', '8', '30', '12', '32', '6', '30', '11',
        '28', '11', '27', '15', '26', '8', '20'],
       ['December', 'Week 4', '11', '29', '11', '27', '12', '28', '10',
        '22', '11', '21', '12', '27', '10', '28']], dtype='<U9')

In [88]:
Dec_min_temp = Dec_data[:,2::2].astype(int)
Dec_min_temp

array([[ 7, 11,  8, 11, 10,  6,  6],
       [11, 11, 12, 13,  6, 14, 14],
       [ 8, 12,  6, 11, 11, 15,  8],
       [11, 11, 12, 10, 11, 12, 10]])

In [89]:
np.mean(Dec_min_temp)

10.285714285714286

### 14. Find the overall avg temp for the months Dec and Jan

In [90]:
Ovr_avg = np.vstack(((Index,Dec_data,Jan_data)))
Ovr_avg

array([['Month', 'Week', 'Monday', 'Monday', 'Tuesday', 'Tuesday',
        'Wednesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday',
        'Friday', 'Saturday', 'Saturday', 'Sunday', 'Sunday'],
       ['Month', 'Week', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['December', 'Week 2', '11', '28', '11', '25', '12', '23', '13',
        '23', '6', '25', '14', '25', '14', '26'],
       ['December', 'Week 3', '8', '30', '12', '32', '6', '30', '11',
        '28', '11', '27', '15', '26', '8', '20'],
       ['December', 'Week 4', '11', '29', '11', '27', '12', '28', '10',
        '22', '11', '21', '12', '27', '10', '28'],
       ['January', 'Week 1', '3', '19', '8', '22', '7', '18', '7', '22',
        '3', '19', '6', '8', '20', '7'],
       ['January', 'Week 2', '5', '18', '8', '19', '7', '18', '6', '19',
        '5', '18', '7', '6', '20', '5'],
       ['January', 'Week 3', '2', '22', '7', '19', '4', '22', '2', '21',
        '8', '22', '4', '2', '21', '2'],
       ['January', 'Week 4', '4', '22', '6', '18', '8', '22', '5', '18',
        '3', '22', '4', '8', '18', '7']], dtype='<U9')

In [91]:
Ovr_Avg = Ovr_avg[2:,2:].astype(int)
Ovr_Avg

array([[ 7, 32, 11, 31,  8, 27, 11, 25, 10, 31,  6, 24,  6, 31],
       [11, 28, 11, 25, 12, 23, 13, 23,  6, 25, 14, 25, 14, 26],
       [ 8, 30, 12, 32,  6, 30, 11, 28, 11, 27, 15, 26,  8, 20],
       [11, 29, 11, 27, 12, 28, 10, 22, 11, 21, 12, 27, 10, 28],
       [ 3, 19,  8, 22,  7, 18,  7, 22,  3, 19,  6,  8, 20,  7],
       [ 5, 18,  8, 19,  7, 18,  6, 19,  5, 18,  7,  6, 20,  5],
       [ 2, 22,  7, 19,  4, 22,  2, 21,  8, 22,  4,  2, 21,  2],
       [ 4, 22,  6, 18,  8, 22,  5, 18,  3, 22,  4,  8, 18,  7]])

In [92]:
np.mean(Ovr_Avg)

15.107142857142858

### 15. Find the least temp experienced by the city in the month of Dec and Jan. Also print the exact date( Day/Week/Month) for the same.

In [93]:
Ovr_Avg = Ovr_avg[2:,2:].astype(int).reshape(14*8,)
Ovr_Avg

array([ 7, 32, 11, 31,  8, 27, 11, 25, 10, 31,  6, 24,  6, 31, 11, 28, 11,
       25, 12, 23, 13, 23,  6, 25, 14, 25, 14, 26,  8, 30, 12, 32,  6, 30,
       11, 28, 11, 27, 15, 26,  8, 20, 11, 29, 11, 27, 12, 28, 10, 22, 11,
       21, 12, 27, 10, 28,  3, 19,  8, 22,  7, 18,  7, 22,  3, 19,  6,  8,
       20,  7,  5, 18,  8, 19,  7, 18,  6, 19,  5, 18,  7,  6, 20,  5,  2,
       22,  7, 19,  4, 22,  2, 21,  8, 22,  4,  2, 21,  2,  4, 22,  6, 18,
        8, 22,  5, 18,  3, 22,  4,  8, 18,  7])

In [94]:
np.min(Ovr_Avg)

2

In [95]:
np.argmin(Ovr_Avg)

84

### 16. Find the max temp in the month of Feb and return its date(Day/Week/Month)

In [96]:
Feb_data

array([['February', 'Week 1', '10', '18', '9', '20', '-10', '21', '11',
        '20', '12', '19', '12', '71', '22', '7'],
       ['Febuary', 'Week 2', '11', '18', '8', '21', '11', '22', '7',
        '19', '12', '19', '11', '8', '20', '8'],
       ['Febuary', 'Week 3', '12', '21', '10', '22', '7', '18', '8',
        '19', '9', '22', '7', '11', '18', '11'],
       ['Febuary', 'Week 4', '10', '22', '9', '18', '7', '19', '11',
        '18', '7', '21', '11', '7', '18', '12']], dtype='<U9')

In [97]:
Feb_max = Feb_data[:,2:].astype(int).reshape(14*4,)
Feb_max

array([ 10,  18,   9,  20, -10,  21,  11,  20,  12,  19,  12,  71,  22,
         7,  11,  18,   8,  21,  11,  22,   7,  19,  12,  19,  11,   8,
        20,   8,  12,  21,  10,  22,   7,  18,   8,  19,   9,  22,   7,
        11,  18,  11,  10,  22,   9,  18,   7,  19,  11,  18,   7,  21,
        11,   7,  18,  12])

In [98]:
np.max(Feb_max )

71

In [99]:
np.argmax(Feb_max )

11

### 17. Find the days in the month of Nov where the max temp of the day dropped below the avg temp of the month.

In [100]:
Nov_con = np.vstack((Index,Nov_data))
Nov_con

array([['Month', 'Week', 'Monday', 'Monday', 'Tuesday', 'Tuesday',
        'Wednesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday',
        'Friday', 'Saturday', 'Saturday', 'Sunday', 'Sunday'],
       ['Month', 'Week', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['November', 'Week 1', '8', '21', '11', '20', '12', '30', '15',
        '20', '11', '31', '14', '20', '8', '26'],
       ['November', 'Week 2', '9', '21', '9', '23', '14', '21', '-13',
        '23', '11', '23', '10', '26', '6', '27'],
       ['November', 'Week 3', '9', '32', '15', '22', '13', '21', '13',
        '28', '6', '26', '15', '24', '12', '29'],
       ['November', 'Week 4', '13', '26', '6', '28', '15', '20', '9',
        '30', '13', '31', '7', '32', '15', '27']], dtype='<U9')

In [101]:
Nov_con1 = Nov_con[0:6,3::2]
Nov_con1

array([['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
        'Saturday', 'Sunday'],
       ['Max Temp', 'Max Temp', 'Max Temp', 'Max Temp', 'Max Temp',
        'Max Temp', 'Max Temp'],
       ['21', '20', '30', '20', '31', '20', '26'],
       ['21', '23', '21', '23', '23', '26', '27'],
       ['32', '22', '21', '28', '26', '24', '29'],
       ['26', '28', '20', '30', '31', '32', '27']], dtype='<U9')

In [102]:
Nov_con2 = Nov_con1[2:,].astype(int).reshape(7*4,)
Nov_con2

array([21, 20, 30, 20, 31, 20, 26, 21, 23, 21, 23, 23, 26, 27, 32, 22, 21,
       28, 26, 24, 29, 26, 28, 20, 30, 31, 32, 27])

In [103]:
np.mean(Nov_con2 )

25.285714285714285

In [104]:
Nov_con3 = Nov_con2 < np.mean(Nov_con2 )
Nov_con3

array([ True,  True, False,  True, False,  True, False,  True,  True,
        True,  True,  True, False, False, False,  True,  True, False,
       False,  True, False, False, False,  True, False, False, False,
       False])

### 18. Convert the above dataset into an array where the weeks of the same month must be present in the same row, but belonging to different months should come in a row either below or above the selected month.

In [105]:
data

array([['Month', 'Week', 'Monday', 'Monday', 'Tuesday', 'Tuesday',
        'Wednesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday',
        'Friday', 'Saturday', 'Saturday', 'Sunday', 'Sunday'],
       ['Month', 'Week', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['November', 'Week 1', '8', '21', '11', '20', '12', '30', '15',
        '20', '11', '31', '14', '20', '8', '26'],
       ['November', 'Week 2', '9', '21', '9', '23', '14', '21', '-13',
        '23', '11', '23', '10', '26', '6', '27'],
       ['November', 'Week 3', '9', '32', '15', '22', '13', '21', '13',
        '28', '6', '26', '15', '24', '12', '29'],
       ['November', 'Week 4', '13', '26', '6', '28', '15', '20', '9',
        '30', '13', '31', '7', '32', '15', '27'],
       ['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['December', 'Week 2', '11', '28', '11', '25', '12', '23', '13',
        '23', '6', '25', '14', '25', '14', '26'],
       ['December', 'Week 3', '8', '30', '12', '32', '6', '30', '11',
        '28', '11', '27', '15', '26', '8', '20'],
       ['December', 'Week 4', '11', '29', '11', '27', '12', '28', '10',
        '22', '11', '21', '12', '27', '10', '28'],
       ['January', 'Week 1', '3', '19', '8', '22', '7', '18', '7', '22',
        '3', '19', '6', '8', '20', '7'],
       ['January', 'Week 2', '5', '18', '8', '19', '7', '18', '6', '19',
        '5', '18', '7', '6', '20', '5'],
       ['January', 'Week 3', '2', '22', '7', '19', '4', '22', '2', '21',
        '8', '22', '4', '2', '21', '2'],
       ['January', 'Week 4', '4', '22', '6', '18', '8', '22', '5', '18',
        '3', '22', '4', '8', '18', '7'],
       ['February', 'Week 1', '10', '18', '9', '20', '-10', '21', '11',
        '20', '12', '19', '12', '71', '22', '7'],
       ['Febuary', 'Week 2', '11', '18', '8', '21', '11', '22', '7',
        '19', '12', '19', '11', '8', '20', '8'],
       ['Febuary', 'Week 3', '12', '21', '10', '22', '7', '18', '8',
        '19', '9', '22', '7', '11', '18', '11'],
       ['Febuary', 'Week 4', '10', '22', '9', '18', '7', '19', '11',
        '18', '7', '21', '11', '7', '18', '12']], dtype='<U9')

In [106]:
Nov_data

array([['November', 'Week 1', '8', '21', '11', '20', '12', '30', '15',
        '20', '11', '31', '14', '20', '8', '26'],
       ['November', 'Week 2', '9', '21', '9', '23', '14', '21', '-13',
        '23', '11', '23', '10', '26', '6', '27'],
       ['November', 'Week 3', '9', '32', '15', '22', '13', '21', '13',
        '28', '6', '26', '15', '24', '12', '29'],
       ['November', 'Week 4', '13', '26', '6', '28', '15', '20', '9',
        '30', '13', '31', '7', '32', '15', '27']], dtype='<U9')

In [107]:
Nov_Week1 = Nov_data[0,:]
Nov_Week2 = Nov_data[1,:]
Nov_Week3 = Nov_data[2,:]
Nov_Week4 = Nov_data[3,:]

In [108]:
Nov_Week = np.hstack((((Nov_Week1,Nov_Week2,Nov_Week3,Nov_Week4))))
Nov_Week

array(['November', 'Week 1', '8', '21', '11', '20', '12', '30', '15',
       '20', '11', '31', '14', '20', '8', '26', 'November', 'Week 2', '9',
       '21', '9', '23', '14', '21', '-13', '23', '11', '23', '10', '26',
       '6', '27', 'November', 'Week 3', '9', '32', '15', '22', '13', '21',
       '13', '28', '6', '26', '15', '24', '12', '29', 'November',
       'Week 4', '13', '26', '6', '28', '15', '20', '9', '30', '13', '31',
       '7', '32', '15', '27'], dtype='<U9')

In [109]:
Dec_Week1 = Dec_data[0,:]
Dec_Week2 = Dec_data[1,:]
Dec_Week3 = Dec_data[2,:]
Dec_Week4 = Dec_data[3,:]

In [110]:
Dec_Week = np.hstack((((Dec_Week1,Dec_Week2,Dec_Week3,Dec_Week4))))
Dec_Week

array(['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11', '25',
       '10', '31', '6', '24', '6', '31', 'December', 'Week 2', '11', '28',
       '11', '25', '12', '23', '13', '23', '6', '25', '14', '25', '14',
       '26', 'December', 'Week 3', '8', '30', '12', '32', '6', '30', '11',
       '28', '11', '27', '15', '26', '8', '20', 'December', 'Week 4',
       '11', '29', '11', '27', '12', '28', '10', '22', '11', '21', '12',
       '27', '10', '28'], dtype='<U9')

In [111]:
Jan_Week1 = Jan_data[0,:]
Jan_Week2 = Jan_data[1,:]
Jan_Week3 = Jan_data[2,:]
Jan_Week4 = Jan_data[3,:]

In [112]:
Jan_Week = np.hstack((((Jan_Week1,Jan_Week2,Jan_Week3,Jan_Week4))))
Jan_Week

array(['January', 'Week 1', '3', '19', '8', '22', '7', '18', '7', '22',
       '3', '19', '6', '8', '20', '7', 'January', 'Week 2', '5', '18',
       '8', '19', '7', '18', '6', '19', '5', '18', '7', '6', '20', '5',
       'January', 'Week 3', '2', '22', '7', '19', '4', '22', '2', '21',
       '8', '22', '4', '2', '21', '2', 'January', 'Week 4', '4', '22',
       '6', '18', '8', '22', '5', '18', '3', '22', '4', '8', '18', '7'],
      dtype='<U9')

In [113]:
Feb_Week1 = Feb_data[0,:]
Feb_Week2 = Feb_data[1,:]
Feb_Week3 = Feb_data[2,:]
Feb_Week4 = Feb_data[3,:]

In [114]:
Feb_Week = np.hstack((((Feb_Week1,Feb_Week2,Feb_Week3,Feb_Week4))))
Feb_Week

array(['February', 'Week 1', '10', '18', '9', '20', '-10', '21', '11',
       '20', '12', '19', '12', '71', '22', '7', 'Febuary', 'Week 2', '11',
       '18', '8', '21', '11', '22', '7', '19', '12', '19', '11', '8',
       '20', '8', 'Febuary', 'Week 3', '12', '21', '10', '22', '7', '18',
       '8', '19', '9', '22', '7', '11', '18', '11', 'Febuary', 'Week 4',
       '10', '22', '9', '18', '7', '19', '11', '18', '7', '21', '11', '7',
       '18', '12'], dtype='<U9')

In [115]:
same_row = np.vstack((((Nov_Week,Dec_Week,Jan_Week,Feb_Week))))
same_row

array([['November', 'Week 1', '8', '21', '11', '20', '12', '30', '15',
        '20', '11', '31', '14', '20', '8', '26', 'November', 'Week 2',
        '9', '21', '9', '23', '14', '21', '-13', '23', '11', '23', '10',
        '26', '6', '27', 'November', 'Week 3', '9', '32', '15', '22',
        '13', '21', '13', '28', '6', '26', '15', '24', '12', '29',
        'November', 'Week 4', '13', '26', '6', '28', '15', '20', '9',
        '30', '13', '31', '7', '32', '15', '27'],
       ['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31', 'December', 'Week 2',
        '11', '28', '11', '25', '12', '23', '13', '23', '6', '25', '14',
        '25', '14', '26', 'December', 'Week 3', '8', '30', '12', '32',
        '6', '30', '11', '28', '11', '27', '15', '26', '8', '20',
        'December', 'Week 4', '11', '29', '11', '27', '12', '28', '10',
        '22', '11', '21', '12', '27', '10', '28'],
       ['January', 'Week 1', '3', '19', '8', '22', '7', '18', '7', '22',
        '3', '19', '6', '8', '20', '7', 'January', 'Week 2', '5', '18',
        '8', '19', '7', '18', '6', '19', '5', '18', '7', '6', '20', '5',
        'January', 'Week 3', '2', '22', '7', '19', '4', '22', '2', '21',
        '8', '22', '4', '2', '21', '2', 'January', 'Week 4', '4', '22',
        '6', '18', '8', '22', '5', '18', '3', '22', '4', '8', '18', '7'],
       ['February', 'Week 1', '10', '18', '9', '20', '-10', '21', '11',
        '20', '12', '19', '12', '71', '22', '7', 'Febuary', 'Week 2',
        '11', '18', '8', '21', '11', '22', '7', '19', '12', '19', '11',
        '8', '20', '8', 'Febuary', 'Week 3', '12', '21', '10', '22', '7',
        '18', '8', '19', '9', '22', '7', '11', '18', '11', 'Febuary',
        'Week 4', '10', '22', '9', '18', '7', '19', '11', '18', '7',
        '21', '11', '7', '18', '12']], dtype='<U9')

### 19. The above data is appropriate for an audience who follow the metric system of measurement. Create an array that holds the same data but presented in Fahrenheit.

In [116]:
data

array([['Month', 'Week', 'Monday', 'Monday', 'Tuesday', 'Tuesday',
        'Wednesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday',
        'Friday', 'Saturday', 'Saturday', 'Sunday', 'Sunday'],
       ['Month', 'Week', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp',
        'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp',
        'Max Temp', 'Min Temp', 'Max Temp', 'Min Temp', 'Max Temp'],
       ['November', 'Week 1', '8', '21', '11', '20', '12', '30', '15',
        '20', '11', '31', '14', '20', '8', '26'],
       ['November', 'Week 2', '9', '21', '9', '23', '14', '21', '-13',
        '23', '11', '23', '10', '26', '6', '27'],
       ['November', 'Week 3', '9', '32', '15', '22', '13', '21', '13',
        '28', '6', '26', '15', '24', '12', '29'],
       ['November', 'Week 4', '13', '26', '6', '28', '15', '20', '9',
        '30', '13', '31', '7', '32', '15', '27'],
       ['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['December', 'Week 2', '11', '28', '11', '25', '12', '23', '13',
        '23', '6', '25', '14', '25', '14', '26'],
       ['December', 'Week 3', '8', '30', '12', '32', '6', '30', '11',
        '28', '11', '27', '15', '26', '8', '20'],
       ['December', 'Week 4', '11', '29', '11', '27', '12', '28', '10',
        '22', '11', '21', '12', '27', '10', '28'],
       ['January', 'Week 1', '3', '19', '8', '22', '7', '18', '7', '22',
        '3', '19', '6', '8', '20', '7'],
       ['January', 'Week 2', '5', '18', '8', '19', '7', '18', '6', '19',
        '5', '18', '7', '6', '20', '5'],
       ['January', 'Week 3', '2', '22', '7', '19', '4', '22', '2', '21',
        '8', '22', '4', '2', '21', '2'],
       ['January', 'Week 4', '4', '22', '6', '18', '8', '22', '5', '18',
        '3', '22', '4', '8', '18', '7'],
       ['February', 'Week 1', '10', '18', '9', '20', '-10', '21', '11',
        '20', '12', '19', '12', '71', '22', '7'],
       ['Febuary', 'Week 2', '11', '18', '8', '21', '11', '22', '7',
        '19', '12', '19', '11', '8', '20', '8'],
       ['Febuary', 'Week 3', '12', '21', '10', '22', '7', '18', '8',
        '19', '9', '22', '7', '11', '18', '11'],
       ['Febuary', 'Week 4', '10', '22', '9', '18', '7', '19', '11',
        '18', '7', '21', '11', '7', '18', '12']], dtype='<U9')

In [117]:
Celcius = data[2:,2:].astype(int).reshape(16*14,)
Celcius

array([  8,  21,  11,  20,  12,  30,  15,  20,  11,  31,  14,  20,   8,
        26,   9,  21,   9,  23,  14,  21, -13,  23,  11,  23,  10,  26,
         6,  27,   9,  32,  15,  22,  13,  21,  13,  28,   6,  26,  15,
        24,  12,  29,  13,  26,   6,  28,  15,  20,   9,  30,  13,  31,
         7,  32,  15,  27,   7,  32,  11,  31,   8,  27,  11,  25,  10,
        31,   6,  24,   6,  31,  11,  28,  11,  25,  12,  23,  13,  23,
         6,  25,  14,  25,  14,  26,   8,  30,  12,  32,   6,  30,  11,
        28,  11,  27,  15,  26,   8,  20,  11,  29,  11,  27,  12,  28,
        10,  22,  11,  21,  12,  27,  10,  28,   3,  19,   8,  22,   7,
        18,   7,  22,   3,  19,   6,   8,  20,   7,   5,  18,   8,  19,
         7,  18,   6,  19,   5,  18,   7,   6,  20,   5,   2,  22,   7,
        19,   4,  22,   2,  21,   8,  22,   4,   2,  21,   2,   4,  22,
         6,  18,   8,  22,   5,  18,   3,  22,   4,   8,  18,   7,  10,
        18,   9,  20, -10,  21,  11,  20,  12,  19,  12,  71,  22,   7,
        11,  18,   8,  21,  11,  22,   7,  19,  12,  19,  11,   8,  20,
         8,  12,  21,  10,  22,   7,  18,   8,  19,   9,  22,   7,  11,
        18,  11,  10,  22,   9,  18,   7,  19,  11,  18,   7,  21,  11,
         7,  18,  12])

In [118]:
print("Values in Centigrade degrees:")
print(Celcius)
print("Values in  Fahrenheit degrees:")
print(np.round((9*(Celcius)/5 + 32),2))

Values in Centigrade degrees:
[  8  21  11  20  12  30  15  20  11  31  14  20   8  26   9  21   9  23
  14  21 -13  23  11  23  10  26   6  27   9  32  15  22  13  21  13  28
   6  26  15  24  12  29  13  26   6  28  15  20   9  30  13  31   7  32
  15  27   7  32  11  31   8  27  11  25  10  31   6  24   6  31  11  28
  11  25  12  23  13  23   6  25  14  25  14  26   8  30  12  32   6  30
  11  28  11  27  15  26   8  20  11  29  11  27  12  28  10  22  11  21
  12  27  10  28   3  19   8  22   7  18   7  22   3  19   6   8  20   7
   5  18   8  19   7  18   6  19   5  18   7   6  20   5   2  22   7  19
   4  22   2  21   8  22   4   2  21   2   4  22   6  18   8  22   5  18
   3  22   4   8  18   7  10  18   9  20 -10  21  11  20  12  19  12  71
  22   7  11  18   8  21  11  22   7  19  12  19  11   8  20   8  12  21
  10  22   7  18   8  19   9  22   7  11  18  11  10  22   9  18   7  19
  11  18   7  21  11   7  18  12]
Values in  Fahrenheit degrees:
[ 46.4  69.8  51.8  68.   53.6  86.   59.   68.   51.8  87.8  57.2  68.
  46.4  78.8  48.2  69.8  48.2  73.4  57.2  69.8   8.6  73.4  51.8  73.4
  50.   78.8  42.8  80.6  48.2  89.6  59.   71.6  55.4  69.8  55.4  82.4
  42.8  78.8  59.   75.2  53.6  84.2  55.4  78.8  42.8  82.4  59.   68.
  48.2  86.   55.4  87.8  44.6  89.6  59.   80.6  44.6  89.6  51.8  87.8
  46.4  80.6  51.8  77.   50.   87.8  42.8  75.2  42.8  87.8  51.8  82.4
  51.8  77.   53.6  73.4  55.4  73.4  42.8  77.   57.2  77.   57.2  78.8
  46.4  86.   53.6  89.6  42.8  86.   51.8  82.4  51.8  80.6  59.   78.8
  46.4  68.   51.8  84.2  51.8  80.6  53.6  82.4  50.   71.6  51.8  69.8
  53.6  80.6  50.   82.4  37.4  66.2  46.4  71.6  44.6  64.4  44.6  71.6
  37.4  66.2  42.8  46.4  68.   44.6  41.   64.4  46.4  66.2  44.6  64.4
  42.8  66.2  41.   64.4  44.6  42.8  68.   41.   35.6  71.6  44.6  66.2
  39.2  71.6  35.6  69.8  46.4  71.6  39.2  35.6  69.8  35.6  39.2  71.6
  42.8  64.4  46.4  71.6  41.   64.4  37.4  71.6  39.2  46.4  64.4  44.6
  50.   64.4  48.2  68.   14.   69.8  51.8  68.   53.6  66.2  53.6 159.8
  71.6  44.6  51.8  64.4  46.4  69.8  51.8  71.6  44.6  66.2  53.6  66.2
  51.8  46.4  68.   46.4  53.6  69.8  50.   71.6  44.6  64.4  46.4  66.2
  48.2  71.6  44.6  51.8  64.4  51.8  50.   71.6  48.2  64.4  44.6  66.2
  51.8  64.4  44.6  69.8  51.8  44.6  64.4  53.6]

In [119]:
Fahrenheit = np.round((9*(Celcius)/5 + 32),2).reshape(16,14)
Fahrenheit

array([[ 46.4,  69.8,  51.8,  68. ,  53.6,  86. ,  59. ,  68. ,  51.8,
         87.8,  57.2,  68. ,  46.4,  78.8],
       [ 48.2,  69.8,  48.2,  73.4,  57.2,  69.8,   8.6,  73.4,  51.8,
         73.4,  50. ,  78.8,  42.8,  80.6],
       [ 48.2,  89.6,  59. ,  71.6,  55.4,  69.8,  55.4,  82.4,  42.8,
         78.8,  59. ,  75.2,  53.6,  84.2],
       [ 55.4,  78.8,  42.8,  82.4,  59. ,  68. ,  48.2,  86. ,  55.4,
         87.8,  44.6,  89.6,  59. ,  80.6],
       [ 44.6,  89.6,  51.8,  87.8,  46.4,  80.6,  51.8,  77. ,  50. ,
         87.8,  42.8,  75.2,  42.8,  87.8],
       [ 51.8,  82.4,  51.8,  77. ,  53.6,  73.4,  55.4,  73.4,  42.8,
         77. ,  57.2,  77. ,  57.2,  78.8],
       [ 46.4,  86. ,  53.6,  89.6,  42.8,  86. ,  51.8,  82.4,  51.8,
         80.6,  59. ,  78.8,  46.4,  68. ],
       [ 51.8,  84.2,  51.8,  80.6,  53.6,  82.4,  50. ,  71.6,  51.8,
         69.8,  53.6,  80.6,  50. ,  82.4],
       [ 37.4,  66.2,  46.4,  71.6,  44.6,  64.4,  44.6,  71.6,  37.4,
         66.2,  42.8,  46.4,  68. ,  44.6],
       [ 41. ,  64.4,  46.4,  66.2,  44.6,  64.4,  42.8,  66.2,  41. ,
         64.4,  44.6,  42.8,  68. ,  41. ],
       [ 35.6,  71.6,  44.6,  66.2,  39.2,  71.6,  35.6,  69.8,  46.4,
         71.6,  39.2,  35.6,  69.8,  35.6],
       [ 39.2,  71.6,  42.8,  64.4,  46.4,  71.6,  41. ,  64.4,  37.4,
         71.6,  39.2,  46.4,  64.4,  44.6],
       [ 50. ,  64.4,  48.2,  68. ,  14. ,  69.8,  51.8,  68. ,  53.6,
         66.2,  53.6, 159.8,  71.6,  44.6],
       [ 51.8,  64.4,  46.4,  69.8,  51.8,  71.6,  44.6,  66.2,  53.6,
         66.2,  51.8,  46.4,  68. ,  46.4],
       [ 53.6,  69.8,  50. ,  71.6,  44.6,  64.4,  46.4,  66.2,  48.2,
         71.6,  44.6,  51.8,  64.4,  51.8],
       [ 50. ,  71.6,  48.2,  64.4,  44.6,  66.2,  51.8,  64.4,  44.6,
         69.8,  51.8,  44.6,  64.4,  53.6]])

### 20.Sort the above data in descending order on the basis of weekly average for the month of Dec.

In [120]:
Dec_data

array([['December', 'Week 1', '7', '32', '11', '31', '8', '27', '11',
        '25', '10', '31', '6', '24', '6', '31'],
       ['December', 'Week 2', '11', '28', '11', '25', '12', '23', '13',
        '23', '6', '25', '14', '25', '14', '26'],
       ['December', 'Week 3', '8', '30', '12', '32', '6', '30', '11',
        '28', '11', '27', '15', '26', '8', '20'],
       ['December', 'Week 4', '11', '29', '11', '27', '12', '28', '10',
        '22', '11', '21', '12', '27', '10', '28']], dtype='<U9')

In [121]:
Dec_week1 = Dec_data[0:1,2:].astype(int)
print("the value of week one:",Dec_week1)
Dec_week1_ase = np.mean(Dec_week1)
print("the mean value of week one:",np.mean(Dec_week1))

the value of week one: [[ 7 32 11 31  8 27 11 25 10 31  6 24  6 31]]
the mean value of week one: 18.571428571428573

In [122]:
Dec_week2 = Dec_data[1,2:].astype(int)
print("the value of week two:",Dec_week2)
Dec_week2_ase = np.mean(Dec_week2)
print("the mean value of week two:",np.mean(Dec_week2))

the value of week two: [11 28 11 25 12 23 13 23  6 25 14 25 14 26]
the mean value of week two: 18.285714285714285

In [123]:
Dec_week3 = Dec_data[2,2:].astype(int)
print("the value of week three:",Dec_week3)
Dec_week3_ase = np.mean(Dec_week3)
print("the mean value of week three:",np.mean(Dec_week3))

the value of week three: [ 8 30 12 32  6 30 11 28 11 27 15 26  8 20]
the mean value of week three: 18.857142857142858

In [124]:
Dec_week4 = Dec_data[3,2:].astype(int)
print("the value of week four:",Dec_week4)
Dec_week4_ase = np.mean(Dec_week4)
print("the mean value of week four:",np.mean(Dec_week4))

the value of week four: [11 29 11 27 12 28 10 22 11 21 12 27 10 28]
the mean value of week four: 18.5

In [125]:
Dec_week_ase = np.array((((Dec_week1_ase,Dec_week2_ase,Dec_week3_ase,Dec_week4_ase))))
Dec_week_ase

array([18.57142857, 18.28571429, 18.85714286, 18.5       ])

In [126]:
Dec_week_des = np.sort(Dec_week_ase)[::-1]
Dec_week_des

array([18.85714286, 18.57142857, 18.5       , 18.28571429])

### 21. Sort the temp of the first three days of each month in descending order on the basis of overall average for the whole winter.